body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.flex_container {
    display: flex;
    justify-content: left;
}

.flex_container a {
    padding: 15px 20px;
}
 
.navbar {
    flex-direction: column;
    justify-content: space-between;
    float: left;
    width: 150px;
    height: 100vh;
    position: fixed;
    background-color: rgba(52, 52, 52, 1);
}
.navmenu{
    display: none;
}
.navbarcontent {
    flex-direction: column;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #f04e25;
}
.navbar .icon{
    justify-content: center;
}
.navbar .icon a {
    padding: 8px;
    font-size: 20px;
    width: 25%;
}

.content {
    width: 100vw;
    float: right;
    flex-direction: column;
    align-items: center;
    margin-left: 150px;
    overflow-wrap: break-word;
}
footer{
    position: fixed;
    bottom: 0;
    left: 160px;
    color: black;
}
@media screen and (max-width: 600px) {
    /* .navbar{
        left: -112px;
    } */
    .navbar.icon{
        flex-direction: column;
    }
    
    
    /* .navbar {
        flex-direction: row;
        height: 49px;
        width: 100vw;
        align-content: center;
    }
    .navmenu {
        display: flex;
        height: 49px;
    }
    .navbarcontent a:not(:first-child){
        display: none;
    }
    .flex_container.navbarcontent.responsive a{
        display: flex;
        float: none;
        text-align: left;
        background-color: rgba(51, 51, 51, 1);
    }
    .flex_container.navbarcontent.responsive a:hover{
        background-color: #f04e25;
    }
    .icon{
        display: none;
    }
     */
    .content {
        margin: 50px 0 0 0;
    }
    footer{
        color: black;
        left: 5px;
    }
}
@keyframes menu_down{
    from {top: -100%}
    to {top: 0}
}