body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

.flex_container {
    display: flex;
    justify-content: left;
}

.flex_container a {
    padding: 15px 20px;
}

.navbar {
    flex-direction: column;
    justify-content: space-between;
    float: left;
    width: 150px;
    height: 100vh;
    position: fixed;
    background-color: rgba(52, 52, 52, 1);
}

.navbarcontent {
    flex-direction: column;
}

.navcon {
    animation-name: navopen;
    animation-duration: 0.7s;
    justify-content: space-between;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #f04e25;
}

.navbar .icon {
    justify-content: center;
}

.navbar .icon a {
    padding: 8px;
    font-size: 20px;
    width: 25%;
}

.content {
    width: 100vw;
    flex-direction: column;
    align-items: center;
    margin-left: 150px;
    overflow-wrap: break-word;
}

.box {
    width: 60%;
    height: 500px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 160px;
}

@media screen and (max-width: 800px) {
    .navbar {
        left: -95px;
        animation-name: navclose;
        animation-duration: 0.7s;
    }

    .navbar.icon a {
        display: none;
    }

    .content {
        margin: 0 95px 0 115px;
    }

    .box {
        width: 100%;
    }

    footer {
        left: 45px;
    }
}

@keyframes navclose {
    from {
        left: 0;
    }

    to {
        left: -95px;
    }
}

@keyframes navopen {
    from {
        left: -95px;
    }

    to {
        left: 0;
    }
}