body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

.flex_container {
    display: flex;
    justify-content: left;
}

.flex_container a {
    padding: 15px 20px;
}

.navbar {
    flex-direction: column;
    justify-content: space-between;
    float: left;
    width: 150px;
    height: 100vh;
    position: fixed;
    background-color: rgba(52, 52, 52, 1);
}

.navbarcontent {
    flex-direction: column;
}

.navcon {
    justify-content: space-between;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #f04e25;
}

.icon {
    justify-content: center;
}

.icon a {
    padding: 8px;
    font-size: 20px;
    width: 25%;
}

.content {
    width: 100vw;
    flex-direction: column;
    align-items: center;
    margin-left: 150px;
    overflow-wrap: break-word;
}

.box {
    width: 100%;
    height: 100vh;
}
.box.b1{
    background-image:url(../material/1920iceburn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
}
.box.b2{
    background-image: linear-gradient(to right, rgba(51,51,51,1),  rgba(51,51,51,0.1),  rgba(51,51,51,1)),
    url(/material/sun1920.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box.b3{
    height: fit-content;
}
.box.b4{
    height: 500px;
}
.box h1{
    font-size: 3em;
}
.box p,li{
    font-size: 1.5em;
}
.box h1,h2,p,li{
    padding: 0 50px;
}
.skill{
    justify-content: space-between;
    flex-direction: row;
}
.work_container{
    background-color: rgba(51, 51, 51, 1);
    border-radius: 15px;
    justify-content: space-between;
    margin: 0 10%;
    overflow-y: hidden;
    overflow-x: scroll;
}
.work{
    flex: 0 0 auto;
    flex-direction: column;
    padding: 0 20px;
}
.work p{
    padding: 0;
}
.infocard{
    height: 400px;
    width: 300px;
    align-items: center;
    justify-content: space-evenly;
}
.infocard a{
    text-decoration: none;
    color: white;
}
.infocard img{
    height: 200px;
    width: 200px;
}
.cardfunction{
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
    width: 300px;
}
.cardfunction img{
    height: 300px;
    width: 500px;
}
.box.b5{
    height: fit-content;
}
.contact_container{
    flex-direction: column;
    justify-content: left;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.5);
}
.contact_container a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}
.contact i{
    color: white;
    text-decoration: none;
    font-size: 2em;
}
footer {
    bottom: 0;
    width: 100%;
    left: 160px;
    text-align: center;
    background-color: rgba(51, 51, 51, 0.5);
}
@media screen and (max-width: 800px) {
    .navbar {
        left: -95px;
        animation-name: navclose;
        animation-duration: 0.7s;
    }

    .navbar.icon a {
        display: none;
    }
    .icon{
        display: none;
    }
    .content{
        margin-left: 55px;
    }
    .box .b1,.b2,.b3,.b4{
        flex-direction: column;
        min-height: 100vh;
        height: fit-content;
        width: 100%;
    }
    .box h1,p{
        padding: 20px;
    }
    .skill{
        flex-direction: column;
        align-items: left;
    }
    .work_container{
        flex-direction: column;
        overflow: hidden;
        align-items: center;
    }
    .cardfunction{
        flex-direction: column;
        overflow: hidden;
        height: fit-content;
    }
    .cardfunction img{
        width: 300px;
        object-fit: contain;
    }
}
@keyframes navclose {
    from {
        left: 0;
    }

    to {
        left: -95px;
    }
}
